<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <%- include('partials/navigation.ejs') %>


    <h1> <%= title %> </h1>


    <form action="">
        <input type="text" name="" id="">
        <input type="submit" value="enviar">
    </form>
</body>
</html>